[defaults]
inventory = inventory
host_key_checking = False
stdout_callback = yaml
retry_files_enabled = True
retry_files_save_path = /tmp
forks = 10
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_facts
fact_caching_timeout = 3600
roles_path = ./roles:~/.ansible/roles:/usr/share/ansible/roles
collections_paths = ~/.ansible/collections:/usr/share/ansible/collections
display_skipped_hosts = False
verbosity = 0

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
control_path = /tmp/ansible-ssh-%%h-%%p-%%r

timeout = 30
